doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    h1 #{headTitle}
    header
      nav
        ul
          li 
            a(href="/") Home
          li 
            a(href="/about") About
          li 
            a(href="/contact") Contact
    section#wrapper!= body
        footer 
          section.css-table
            section.four-column
              section.cell
                p Peligas <br />Bonitinha<br /> Dos cabelo
              section.cell
                p De retrói <br />se quiser<br /> casar comigo
              section.cell
                p Vai fazer <br />Café<br /> pra nói
              section.cell
                p Louco Louco Louco Melo <br />Muito Louco Louco Melo<br /> Cogumelho de Jesus
